<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <% if (locals.error) { %>
            <div style="color: red;  margin-bottom: 1rem;">
               Incorrect password
            </div>
         
        <% } %>
    
    
    
    
        <form method="post">
            
            <div class="file-select">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            
            <button class="btn" type="submit">Download</button>
        </form>
    </div>
    
</body>
</html>